<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
<!--    <script rel="text/javascript" th:src="@{/common/js/bootstrap.js}" />-->
<!--    <link rel="stylesheet" th:src="@{/common/css/bootstrap.css}" />-->
<!--    <script rel="text/javascript" src="/common/js/sweetAlert.js"></script>-->
    <script rel="text/javascript" src="/common/js/bootstrap.bundle.js"></script>
    <script rel="text/javascript" src="/common/js/commonGY.js"></script>
    <script rel="text/javascript" src="/common/js/jquery.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/common/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-sacle=1">
    <title>Title</title>
</head>
<body>
</body>
</html>